<% provide :title, "Home" %>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <% if logged_in? %>
        <%= render "shared/user_info" %>

        <%= render "shared/micropost" %>

      <% else %>
        <h3>Welcome Simaple App</h3>
      <% end %>
    </div>

    <% if @feed_items %>
      <div class="col-md-8">
        <%= render @feed_items %>

        <%== @pagy.series_nav(:bootstrap) %>
      </div>
    <% end %>
  </div>
</div>
