<div class="d-flex mt-1 mb-1 justify-content-between" style="width: 120px">
  <a
    href="<%= following_user_path(@user) %>"
    class="d-flex flex-column justify-content-between align-items-center"
  >
    <strong>
      <%= @user.following.count %>
    </strong>
    收听
  </a>

  <a
    href="<%= followers_user_path(@user) %>"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <strong>
      <%= @user.followers.count %>
    </strong>
    正在听
  </a>
</div>
